MODEL_PATH=model_weights/deepfake_v1.weights.h5
DEBUG=false
API_RATE_LIMIT=5/minute
CORS_ALLOW_ORIGINS=http://localhost:5173
MAX_FILE_SIZE_BYTES=5242880 # 5MB
MODEL_VERSION=v1
HUGGINGFACE_MODEL_URL=
TF_CPP_MIN_LOG_LEVEL=2 # Suppress TensorFlow logging (0 = all logs, 1 = filter out INFO, 2 = filter out WARNING, 3 = filter out ERROR)
# OMP_NUM_THREADS=1 # Limit TensorFlow to use a single thread for CPU operations (can help reduce memory usage)